DOMAIN_NAME=localhost
DOMAIN_URL=http://localhost:80
BACKEND_URL=http://localhost:8000
GCP_STORAGE_URL=https://storage.googleapis.com
GCP_STORAGE_IMAGES_BUCKET=lisenmi-images-test
GCP_STORAGE_AUDIO_PREVIEWS_BUCKET=lisenmi-audio-preview-test
STRIPE_PUBLISHABLE_KEY=pk_test_tJtcQqBrRirhhiwzIAr1brzT000LqQs92t